@mixin paraTelasPequenas($media) {
    @media (max-width: ($media/16+em)) {
        @content;
    }
}


#description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 28px;
    margin-right: 24px;    
    margin-bottom: 45px;
    @include paraTelasPequenas(900) {
        flex-direction: column;
        margin-bottom: 24px;
        width: 100%;
        padding: 5%;
        margin-left: 0;
     }

}

.b-filtrar {
    width: 100px;
    height: 40px;
    margin-top: 44px;

    background: #5d405c;
    border-radius: 10px;
    color: #f6f6f6;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    @include paraTelasPequenas(900) {
        margin-top: 16px;
     }
}

.texto {
    margin-top: 33px;    
}

h1 {
    color: #5d405c;
    font-weight: 700;
}

p {
    color: #828282;
}
